extends _template.pug

include ../components/b-title-page/b-title-page

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active(aria-current="page") Search


  .b-title-page.b-title-page_sm-bg-2
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name Site search


  .container
    form.ui-search.ui-search_plus-list.ui-search_mod-b
      != pugHelpers.Icon.call(locals, {iconName: 'search-2', className: 'ic', iconWidth: '15', iconHeight: '15'})
      input.ui-search__input(type="text" placeholder="Search")

