mixin b-services()

  .b-services.section-area.bg-gray
    .container
      .b-card-2-group
        .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10, "horizontalOrder": true }')

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title For passengers with FEV
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Personal service
                li.b-card-2__item
                  a.b-card-2__link(href="#") Notify on arrival
                li.b-card-2__item
                  a.b-card-2__link(href="#") Parking
                li.b-card-2__item
                  a.b-card-2__link(href="#") Baggage
                li.b-card-2__item
                  a.b-card-2__link(href="#") Feedback

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title How to get there
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") To the airport
                li.b-card-2__item
                  a.b-card-2__link(href="#") To the city

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Parking
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Services
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Airport map
                li.b-card-2__item
                  a.b-card-2__link(href="#") Feedback
                li.b-card-2__item
                  a.b-card-2__link(href="#") Mystery shopper
                li.b-card-2__item
                  a.b-card-2__link(href="#") Online registration
                li.b-card-2__item
                  a.b-card-2__link(href="#") Ticket booking (online)
                li.b-card-2__item
                  a.b-card-2__link(href="#") Registration with e-ticket
                li.b-card-2__item
                  a.b-card-2__link(href="#") Self-registration

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Food and drink
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Restaurant "Airport"
                li.b-card-2__item
                  a.b-card-2__link(href="#") Centootto
                li.b-card-2__item
                  a.b-card-2__link(href="#") Sky Bar
                li.b-card-2__item
                  a.b-card-2__link(href="#") Cafe "World of Chocolate"
                li.b-card-2__item
                  a.b-card-2__link(href="#") Panini Bar
                li.b-card-2__item
                  a.b-card-2__link(href="#") Cafe "Pizza Italy"

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title The shops
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Present
                li.b-card-2__item
                  a.b-card-2__link(href="#") Souvenirs
                li.b-card-2__item
                  a.b-card-2__link(href="#") Expedition
                li.b-card-2__item
                  a.b-card-2__link(href="#") Ecomarket
                li.b-card-2__item
                  a.b-card-2__link(href="#") Minimarket
                li.b-card-2__item
                  a.b-card-2__link(href="#") Read and Fly
                li.b-card-2__item
                  a.b-card-2__link(href="#") Mead
                li.b-card-2__item
                  a.b-card-2__link(href="#") Attributes
                li.b-card-2__item
                  a.b-card-2__link(href="#") Beauty

  // end .b-services
  |
  |

