mixin b-main()

  .b-main
    .container
      .b-main__inner
        .b-main__wrap
          h1.ui-title-page International<br>airport
            span.text-primary  «Cairo»
          .b-main-links
            a.b-main-links__item(href="scoreboard.html")
              .b-main-links__title Departure
              .b-main-links__info Departing and arriving
            a.b-main-links__item(href="scoreboard_arrival.html")
              .b-main-links__title Arrival
              .b-main-links__info Arrivals and greeters
            a.b-main-links__item(href="scoreboard_transfer.html")
              .b-main-links__title Transfer and transit
              .b-main-links__info For those making a transfer

  // end .b-main
  |
  |

