mixin b-title-page(title)

  .b-title-page.b-title-page_sm(class!=attributes.class)
    .b-title-page__wrap.container
      .row
        .col-xl-8
          h1.b-title-page__inner= title


  // end .b-title-page
  |
  |
