mixin b-bnr()
  a.b-bnr(href="#")
    picture
      source(srcset="assets/media/content/b-bnr/860x310/1.webp" type="image/webp")
      img.b-bnr__img(src="assets/media/content/b-bnr/860x310/1.jpg", alt="image" loading="lazy" decoding="async")
    span.b-bnr__label Parking
    .row
      .b-bnr__inner.col-xl-6
        .b-bnr__title
          span.text-primary Parking $1
          |  in 30 min.
        .b-bnr__info Day $5


  // end .b-bnr
  |
  |

